.thank-you-page {
    text-align: center;
    margin-top: 50px;
}

.thank-you-page img {
    max-width: 100%;
    height: auto;
}

.thank-you-page h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.thank-you-page p {
    font-size: 1.2em;
}
